@keyframes jiantou{0%{ opacity:0;}100%{}}
@-webkit-keyframes jiantou{0%{ opacity:0;}100%{}}

@keyframes i_tit01_ani{
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@-webkit-keyframes i_tit01_ani{
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}



@keyframes i_tit02_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes i_tit02_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes i_logo_ani{
  0% {
    opacity: 0;
    transform: scaleY(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
    transform: scaleY(1.02) translateZ(0);
  }
  60% {
    transform: scaleY(0.98) translateZ(0);
  }
  80% {
    transform: scaleY(1.01) translateZ(0);
  }
  100% {
    transform: scaleY(0.98) translateZ(0);
  }
  80% {
    transform: scaleY(1.01) translateZ(0);
  }
  100% {
    transform: scaleY(1) translateZ(0);
  }
}

@-webkit-keyframes i_logo_ani{
  0% {
    opacity: 0;
    transform: scaleY(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
    transform: scaleY(1.02) translateZ(0);
  }
  60% {
    transform: scaleY(0.98) translateZ(0);
  }
  80% {
    transform: scaleY(1.01) translateZ(0);
  }
  100% {
    transform: scaleY(0.98) translateZ(0);
  }
  80% {
    transform: scaleY(1.01) translateZ(0);
  }
  100% {
    transform: scaleY(1) translateZ(0);
  }
}


@keyframes i_icon_ani{0%{ transform:scale(3); opacity:0;}100%{}}
@-webkit-keyframes i_icon_ani{0%{ transform:scale(3); opacity:0;}100%{}}

@keyframes i_img02_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes i_img02_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}



@keyframes i_img03_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes i_img03_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes star_btn_img_ani{0%{ transform:scale(1); -webkit-transform:scale(1);} 50%{ transform:scale(0.95); -webkit-transform:scale(0.95);} 100%{ transform:scale(1); -webkit-transform:scale(1);}}
@-webkit-keyframes star_btn_img_ani{0%{ transform:scale(1); -webkit-transform:scale(1);} 50%{ transform:scale(0.95); -webkit-transform:scale(0.95);} 100%{ transform:scale(1); -webkit-transform:scale(1);}}


@keyframes star_btn_ani{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes star_btn_ani{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@keyframes result_top_ani{0%{ right:-50%; opacity:0;} 100%{}}
@-webkit-keyframes result_top_ani{0%{ right:-50%; opacity:0;} 100%{}}

@keyframes result_img_ani{0%{ transform:scale(0.5); opacity:0;} 100%{}}
@-webkit-keyframes result_img_ani{0%{ transform:scale(0.5); opacity:0;} 100%{}}



@keyframes p3_tit_ani{0%{ top:-20%; opacity:0;}100%{}}
@-webkit-keyframes p3_tit_ani{0%{ top:-20%; opacity:0;}100%{}}

@keyframes p3_show_ani{0%{ transform:scale(0.5); opacity:0;}100%{}}
@-webkit-keyframes p3_show_ani{0%{ transform:scale(0.5); opacity:0;}100%{}}

@keyframes pro_tit_ani{0%{ top:-10%; opacity:0;}100%{}}
@-webkit-keyframes pro_tit_ani{0%{ top:-10%; opacity:0;}100%{}}


@keyframes j_tit_ani{0%{ top:-20%; opacity:0;}100%{}}
@-webkit-keyframes j_tit_ani{0%{ top:-20%; opacity:0;}100%{}}

@keyframes j_show_ani{0%{ transform:scale(0.5); opacity:0;}100%{}}
@-webkit-keyframes j_show_ani{0%{ transform:scale(0.5); opacity:0;}100%{}}

@keyframes j_box01_ani{0%{ left:-50%; opacity:0;}100%{}}
@-webkit-keyframes j_box01_ani{0%{ left:-50%; opacity:0;}100%{}}

@keyframes j_box02_ani{0%{ right:-50%; opacity:0;}100%{}}
@-webkit-keyframes j_box02_ani{0%{ right:-50%; opacity:0;}100%{}}

@keyframes j_box03_ani{0%{ left:-50%; opacity:0;}100%{}}
@-webkit-keyframes j_box03_ani{0%{ left:-50%; opacity:0;}100%{}}





















