@charset "utf-8";
/* CSS Document */
body { margin:0; padding:0px; font-size:12px; font-family:"微软雅黑","宋体", Arial, Helvetica, sans-serif; background:url(images/beijing.jpg) #fff top center fixed no-repeat; color:#000;}
div,body,ul,li,p,span,h1,h2,h3{ margin:0; padding:0;}
a { text-decoration:none; color:#303030; }
a:hover { text-decoration:underline; color:#303030; }
a img{ border:0 none;}
.png {background-image: expression(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "../images/1.gif")} 
.fl{ float:left;}
.fr{ float:right;}
h1,h2,h3{ font-weight:300;}

.div_body{ background:url(images/bg.jpg) center 828px repeat-y;}
.header{ height:828px; background:url(images/head_bg.jpg) top center no-repeat;}
.head_in{ width:1180px; height:980px; margin:0 auto; position:relative; background:url(images/head_bg.jpg) top center no-repeat;}
.h5_head{ display:none;}
.head_img01{ position:absolute; right:0; top:170px; transform:scale(1); -webkit-transform:scale(1); animation:head_img01_ani 0.5s ease-out 0s forwards; -webkit-animation:head_img01_ani 0.5s ease-out 0s forwards;}
@keyframes head_img01_ani{0%{ transform:scale(0.2);} 100%{ opacity:1;}}
@-webkit-keyframes head_img01_ani{0%{ transform:scale(0.2); -webkit-transform:scale(0.2);} 100%{ opacity:1;}}

/*p1*/
.body_all{ width:1180px; margin:0 auto; overflow:hidden;}
.p1_body{ position:relative; height:4312px; background:url(images/bg_line.png) no-repeat;}
.h5_p1_line{ display:none;}
.p1_tit{ width:100%; position:absolute; left:0; top:88px; text-align:center; transform:scale(1); opacity:0;}
.p1_tit img{}
.p1_tit.p1_tit_ani{animation:p1_tit_ani 1s ease-out 0s forwards; -webkit-animation:p1_tit_ani 1s ease-out 0s forwards;}
@keyframes p1_tit_ani{0%{ transform:scale(0.5);} 100%{ opacity:1;}}
@-webkit-keyframes p1_tit_ani{0%{ transform:scale(0.5); -webkit-transform:scale(0.5);} 100%{ opacity:1;}}

.girl_a_img01{ position:absolute; left:100px; top:274px; opacity:0;}
.girl_a_img02{ position:absolute; right:0; top:274px; opacity:0;}

.girl_b_img01{ position:absolute; left:0; top:774px; opacity:0;}
.girl_b_img02{ position:absolute; right:80px; top:774px; opacity:0;}

.girl_c_img01{ position:absolute; left:60px; top:1342px; opacity:0;}
.girl_c_img02{ position:absolute; right:0; top:1342px; opacity:0;}

.girl_d_img01{ position:absolute; left:0; top:1854px; opacity:0;}
.girl_d_img02{ position:absolute; right:70px; top:1854px; opacity:0;}

.girl_a_img01.girl_a_img01_ani{animation:girl_a_img01_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img01_ani 1s ease-out 0s forwards;}
.girl_a_img02.girl_a_img02_ani{animation:girl_a_img02_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img02_ani 1s ease-out 0s forwards;}

.girl_b_img01.girl_b_img01_ani{animation:girl_a_img01_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img01_ani 1s ease-out 0s forwards;}
.girl_b_img02.girl_b_img02_ani{animation:girl_a_img02_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img02_ani 1s ease-out 0s forwards;}

.girl_c_img01.girl_c_img01_ani{animation:girl_a_img01_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img01_ani 1s ease-out 0s forwards;}
.girl_c_img02.girl_c_img02_ani{animation:girl_a_img02_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img02_ani 1s ease-out 0s forwards;}

.girl_d_img01.girl_d_img01_ani{animation:girl_a_img01_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img01_ani 1s ease-out 0s forwards;}
.girl_d_img02.girl_d_img02_ani{animation:girl_a_img02_ani 1s ease-out 0s forwards; -webkit-animation:girl_a_img02_ani 1s ease-out 0s forwards;}

.girl_a_img01 .g_pc{ display:block;}
.girl_a_img01 .g_h5{ display:none;}

.girl_b_img02 .g_pc{ display:block;}
.girl_b_img02 .g_h5{ display:none;}

.girl_c_img01 .g_pc{ display:block;}
.girl_c_img01 .g_h5{ display:none;}

.girl_d_img02 .g_pc{ display:block;}
.girl_d_img02 .g_h5{ display:none;}

@keyframes girl_a_img01_ani{0%{ left:-100%;} 100%{ opacity:1;}}
@-webkit-keyframes girl_a_img01_ani{0%{ left:-100%;} 100%{ opacity:1;}}

@keyframes girl_a_img02_ani{0%{ right:-100%;} 100%{ opacity:1;}}
@-webkit-keyframes girl_a_img02_ani{0%{ right:-100%;} 100%{ opacity:1;}}

.p1_txt{ position:absolute; left:70px; top:2614px;}
.p1_txt .pt_pc{ display:block;}
.p1_txt .pt_h5{ display:none;}

.xj_img01{ position:absolute; left:0; top:2810px; opacity:0;}
.xj_img02{ position:absolute; right:0; top:2810px; opacity:0;}
.xj_img03{ position:absolute; left:0; top:3580px; opacity:0;}

.xj_img01.xj_img01_ani{animation:xj_img01_ani 1s ease-out 0s forwards; -webkit-animation:xj_img01_ani 1s ease-out 0s forwards;}
.xj_img02.xj_img02_ani{animation:xj_img01_ani 1s ease-out 0s forwards; -webkit-animation:xj_img01_ani 1s ease-out 0s forwards;}
.xj_img03.xj_img03_ani{animation:xj_img01_ani 1s ease-out 0s forwards; -webkit-animation:xj_img01_ani 1s ease-out 0s forwards;}

@keyframes xj_img01_ani{0%{ opacity:0;} 100%{ opacity:1;}}
@-webkit-keyframes xj_img01_ani{0%{ opacity:0;} 100%{ opacity:1;}}

.xj_img01 .xj_pc{ display:block;}
.xj_img01 .xj_h5{ display:none;}

.xj_img02 .xj_pc{ display:block;}
.xj_img02 .xj_h5{ display:none;}

.xj_img03 .xj_pc{ display:block;}
.xj_img03 .xj_h5{ display:none;}

/*p2*/
.p2_body{ position:relative; height:2350px; background:url(images/p2_bg.png) no-repeat;}
.p2_tit{ width:100%; position:absolute; left:0; top:94px; text-align:center; transform:scale(1); opacity:0;}
.p2_tit img{}
.p2_tit.p2_tit_ani{animation:p2_tit_ani 1s ease-out 0s forwards; -webkit-animation:p2_tit_ani 1s ease-out 0s forwards;}
@keyframes p2_tit_ani{0%{ transform:scale(0.5);} 100%{ opacity:1;}}
@-webkit-keyframes p2_tit_ani{0%{ transform:scale(0.5); -webkit-transform:scale(0.5);} 100%{ opacity:1;}}
.p2_bg_h5{ display:none;}

.p2_img01{ position:absolute; left:0; top:294px; opacity:0;}
.p2_img02{ position:absolute; left:0; top:1160px; opacity:0;}
.p2_img03{ position:absolute; left:0; top:1705px; opacity:0;}

.p2_img01.p2_img01_ani{animation:p2_img01_ani 1s ease-out 0s forwards; -webkit-animation:p2_img01_ani 1s ease-out 0s forwards;}
.p2_img02.p2_img02_ani{animation:p2_img01_ani 1s ease-out 0s forwards; -webkit-animation:p2_img01_ani 1s ease-out 0s forwards;}
.p2_img03.p2_img03_ani{animation:p2_img01_ani 1s ease-out 0s forwards; -webkit-animation:p2_img01_ani 1s ease-out 0s forwards;}

@keyframes p2_img01_ani{0%{ opacity:0;} 100%{ opacity:1;}}
@-webkit-keyframes p2_img01_ani{0%{ opacity:0;} 100%{ opacity:1;}}

.p2_img01 .p2_pc{ display:block;}
.p2_img01 .p2_h5{ display:none;}

.p2_img02 .p2_pc{ display:block;}
.p2_img02 .p2_h5{ display:none;}

.p2_img03 .p2_pc{ display:block;}
.p2_img03 .p2_h5{ display:none;}

/*p3*/
.p3_body{ position:relative; height:1780px; background:url(images/p3_bg.png) no-repeat;}

.p3_tip02{ display:none; background:#fff; z-index:200;}
.p3_tip03{ position:absolute; top:600px; right:10px; padding-bottom:60px; background:#fff; z-index:200;}
.p3_tip04{ position:absolute; top:440px; right:10px; padding-bottom:60px; background:#fff; z-index:200;}
.tip_close{ position:absolute; left:50%; margin-left:-23px; bottom:10px; cursor:pointer;}

.p3_tit{ width:100%; position:absolute; left:0; top:50px; text-align:center; transform:scale(1); opacity:0;}
.p3_tit img{}
.p3_tit.p3_tit_ani{animation:p3_tit_ani 1s ease-out 0s forwards;-webkit-animation:p3_tit_ani 1s ease-out 0s forwards;}
@keyframes p3_tit_ani{0%{ transform:scale(0.5);} 100%{ opacity:1;}}
@-webkit-keyframes p3_tit_ani{0%{ transform:scale(0.5); -webkit-transform:scale(0.5);} 100%{ opacity:1;}}
.p3_body_h5{ display:none;}

.p3_img01{ position:absolute; left:305px; top:235px;}
.p3_img02{ position:absolute; left:20px; top:530px;}
.p3_img02_h5{ display:none;}
.p3_img03{ position:absolute; right:20px; top:506px; cursor:pointer;}
.p3_img04{ position:absolute; right:25px; top:790px; cursor:pointer;}

.p3_img01_txt{ position:absolute; left:65px; top:640px;}

.p3_img03 img{ animation:p3_img03_ani 1s ease-out 0s alternate infinite;}
.p3_img04 img{ animation:p3_img03_ani 1s ease-out 0.8s alternate infinite;}
/*@keyframes p3_img03_ani{0%{ transform:scale(0.9);} 100%{ transform:scale(1);}}*/

.p3_img01.p3_img01_ani{animation:p3_img01_ani 1s ease-out 0s forwards; -webkit-animation:p3_img01_ani 1s ease-out 0s forwards;}
.p3_img02.p3_img02_ani{animation:p3_img01_ani 1s ease-out 0s forwards; -webkit-animation:p3_img01_ani 1s ease-out 0s forwards;}
.p3_img02_h5.p3_img02_h5_ani{animation:p3_img01_ani 1s ease-out 0s forwards; -webkit-animation:p3_img01_ani 1s ease-out 0s forwards;}
.p3_img03.p3_img03_ani{animation:p3_img01_ani 1s ease-out 0s forwards; -webkit-animation:p3_img01_ani 1s ease-out 0s forwards;}
.p3_img04.p3_img04_ani{animation:p3_img01_ani 1s ease-out 0s forwards; -webkit-animation:p3_img01_ani 1s ease-out 0s forwards;}
@keyframes p3_img01_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes p3_img01_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.p3_txt{ width:100%; position:absolute; left:0; top:1030px; text-align:center; opacity:0;}
.p3_txt img{}
.p3_txt.p3_txt_ani{animation:p3_txt_ani 1s ease-out 0s forwards; -webkit-animation:p3_txt_ani 1s ease-out 0s forwards;}
@keyframes p3_txt_ani{0%{} 100%{ opacity:1;}}
@-webkit-keyframes p3_txt_ani{0%{} 100%{ opacity:1;}}

.qx_img01{ position:absolute; left:36px; top:1170px; opacity:0;}
.qx_img02{ position:absolute; left:410px; top:1170px; opacity:0;}
.qx_img03{ position:absolute; right:36px; top:1170px; opacity:0;}

.qx_img01 .ls_pc{ display:block;}
.qx_img01 .ls_h5{ display:none;}

.qx_img02 .ls_pc{ display:block;}
.qx_img02 .ls_h5{ display:none;}

.qx_img03 .ls_pc{ display:block;}
.qx_img03 .ls_h5{ display:none;}

.qx_img01.qx_img01_ani{animation:qx_img01_ani 1s ease-out 0s forwards; -webkit-animation:qx_img01_ani 1s ease-out 0s forwards;}
.qx_img02.qx_img02_ani{animation:qx_img01_ani 1s ease-out 0s forwards; -webkit-animation:qx_img01_ani 1s ease-out 0s forwards;}
.qx_img03.qx_img03_ani{animation:qx_img01_ani 1s ease-out 0s forwards; -webkit-animation:qx_img01_ani 1s ease-out 0s forwards;}
@keyframes qx_img01_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }	
}
@-webkit-keyframes qx_img01_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }	
}


@media screen and (max-width:768px){
body{ background:#fff;}
.m_header,.m_footer{ display:none;}
div img{ width:100%;}
.div_body{ max-width:640px; margin:0 auto;}

.header{ height:auto; background:none;}
.head_in{ width:100%; height:auto; background:none;}
.h5_head{ display:block;}
.head_img01{ width:60%; top:22%;}

/*p1*/
.body_all{ width:100%;}
.p1_body{ height:auto; background:#fff;}
.h5_p1_line{ display:block;}
.p1_tit{ top:20px;}
.p1_tit img{ width:80%;}

.girl_a_img01{ width:70%; left:-5%; top:4%;}
.girl_a_img02{ width:46%; right:3%; top:4%;}

.girl_b_img01{ width:46%; left:0; top:16%;}
.girl_b_img02{ width:70%; right:-6%; top:16%;}

.girl_c_img01{ width:70%; left:-8%; top:26%;}
.girl_c_img02{ width:46%; right:3%; top:26%;}

.girl_d_img01{ width:46%; left:3%; top:38%;}
.girl_d_img02{ width:70%; right:-6%; top:38%;}

.girl_a_img01 .g_pc{ display:none;}
.girl_a_img01 .g_h5{ display:block;}

.girl_b_img02 .g_pc{ display:none;}
.girl_b_img02 .g_h5{ display:block;}

.girl_c_img01 .g_pc{ display:none;}
.girl_c_img01 .g_h5{ display:block;}

.girl_d_img02 .g_pc{ display:none;}
.girl_d_img02 .g_h5{ display:block;}

.p1_txt{ width:100%; left:0; top:52%;}
.p1_txt .pt_pc{ display:none;}
.p1_txt .pt_h5{ display:block;}

.xj_img01{ width:50%; left:0; top:58%;}
.xj_img02{ width:47%; right:0; top:58%;}
.xj_img03{ width:100%; left:0; top:80%;}

.xj_img01 .xj_pc{ display:none;}
.xj_img01 .xj_h5{ display:block;}

.xj_img02 .xj_pc{ display:none;}
.xj_img02 .xj_h5{ display:block;}

.xj_img03 .xj_pc{ display:none;}
.xj_img03 .xj_h5{ display:block;}

/*p2*/
.p2_body{ height:auto; background:#fff;}
.p2_tit{ top:20px;}
.p2_tit img{ width:80%;}
.p2_bg_h5{ display:block;}

.p2_img01{ width:100%; top:8%;}
.p2_img02{ width:100%; top:43%;}
.p2_img03{ width:100%; top:64%;}

.p2_img01 .p2_pc{ display:none;}
.p2_img01 .p2_h5{ display:block;}

.p2_img02 .p2_pc{ display:none;}
.p2_img02 .p2_h5{ display:block;}

.p2_img03 .p2_pc{ display:none;}
.p2_img03 .p2_h5{ display:block;}

/*p3*/
.p3_body{ height:auto; background:#fff;}

.p3_tip02{ width:54%; position:absolute; top:18%; left:0; padding-bottom:50px; display:block;}
.p3_tip03{ width:44%; position:absolute; top:12%; right:0; padding-bottom:40px;}
.p3_tip04{ width:44%; position:absolute; top:12%; right:0; padding-bottom:40px;}
.tip_close{ width:14%; margin-left:-7%; bottom:10px;}


.p3_tit{ top:20px;}
.p3_tit img{ width:30%;}
.p3_body_h5{ display:block;}

.p3_img01{ width:50%; left:25%; top:10%;}
.p3_img02{ display:none;}
.p3_img02_h5{ position:absolute; width:30%; left:15px; top:26%; display:block;}
.p3_img03{ width:30%; right:10px; top:20%;}
.p3_img04{ width:30%; right:15px; top:34%;}

.p3_img01_txt{ width:80%; position:absolute; left:-20%; top:5%;}

.p3_img02_h5 img{ animation:p3_img03_ani 1s ease-out 0.3s alternate infinite;}

.p3_txt{ top:40%; top:43%;}
.p3_txt img{ width:50%;}

.qx_img01{ width:96%; left:2%; top:48%;}
.qx_img02{ width:48%; left:1%; top:68%;}
.qx_img03{ width:48%; right:1%; top:68%;}

.qx_img01 .ls_pc{ display:none;}
.qx_img01 .ls_h5{ display:block;}

.qx_img02 .ls_pc{ display:none;}
.qx_img02 .ls_h5{ display:block;}

.qx_img03 .ls_pc{ display:none;}
.qx_img03 .ls_h5{ display:block;}


}












































