
@keyframes tree_ani{ 0% { opacity:0; transform: translate(-40px, 0); -webkit-transform: translate(-40px, 0);} 100% {}}
@-webkit-keyframes tree_ani{ 0% { opacity:0; transform: translate(-40px, 0); -webkit-transform: translate(-40px, 0);} 100% {}}

@keyframes head_ren_ani{ 0% { opacity:0;} 100% {}}
@-webkit-keyframes head_ren_ani{ 0% { opacity:0;} 100% {}}

@keyframes jiaoshui_ani_a{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes jiaoshui_ani_a{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fenshu_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes fenshu_ani{
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes head_top_ani{
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
  }
  50% {
    opacity: 1;
    -moz-transform: translateY(8%);
    transform: translateY(8%);
  }
  65% {
    -moz-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  80% {
    -moz-transform: translateY(4%);
    transform: translateY(4%);
  }
  95% {
    -moz-transform: translateY(-2%);
    transform: translateY(-2%);
  }
  100% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes head_top_ani{
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
  }
  50% {
    opacity: 1;
    -moz-transform: translateY(8%);
    transform: translateY(8%);
  }
  65% {
    -moz-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  80% {
    -moz-transform: translateY(4%);
    transform: translateY(4%);
  }
  95% {
    -moz-transform: translateY(-2%);
    transform: translateY(-2%);
  }
  100% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes count_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.3);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-webkit-keyframes count_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.3);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}


@keyframes head_grow_img_ani{
0%{ transform:scale(1); -webkit-transform:scale(1);} 50%{ transform:scale(0.98); -webkit-transform:scale(0.98);} 100%{ transform:scale(1); -webkit-transform:scale(1);}}
@-webkit-keyframes head_grow_img_ani{
0%{ transform:scale(1); -webkit-transform:scale(1);} 50%{ transform:scale(0.98); -webkit-transform:scale(0.98);} 100%{ transform:scale(1); -webkit-transform:scale(1);}}


@keyframes head_grow01_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.6) translateZ(0);
  }
  20% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  70% {
    -webkit-transform: scaleY(1.01);
  }
  80% {
    -webkit-transform: scaleY(0.98);
  }
  90% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes head_grow01_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.6) translateZ(0);
  }
  20% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  70% {
    -webkit-transform: scaleY(1.01);
  }
  80% {
    -webkit-transform: scaleY(0.98);
  }
  90% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes head_grow02_ani{
  0% {
    -webkit-transform: scaleY(0.1) translateZ(0);
    -moz-transform: scaleY(0.1) translateZ(0);
    transform: scaleY(0.8) translateZ(0);
  }
  40% {
    -webkit-transform: scaleY(1.02);
    -moz-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
    -moz-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  70% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  80% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  90% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes head_grow02_ani{
  0% {
    -webkit-transform: scaleY(0.1) translateZ(0);
    -moz-transform: scaleY(0.1) translateZ(0);
    transform: scaleY(0.8) translateZ(0);
  }
  40% {
    -webkit-transform: scaleY(1.02);
    -moz-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
    -moz-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  70% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  80% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  90% {
    -webkit-transform: scaleY(1.01);
    -moz-transform: scaleY(1.01);
    -o-transform: scaleY(1.01);
    transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes head_gift_ani{0%{ opacity:0;} 100%{}}
@-webkit-keyframes head_gift_ani{0%{ opacity:0;} 100%{}}

@keyframes head_lu_ani{0%{ opacity:0; transform: translate(50px, 0); -webkit-transform: translate(50px, 0);} 100%{}}
@-webkit-keyframes head_lu_ani{0%{ opacity:0; transform: translate(50px, 0); -webkit-transform: translate(50px, 0);} 100%{}}

@keyframes head_tree_ani{0%{ opacity:0;} 100%{}}
@-webkit-keyframes head_tree_ani{0%{ opacity:0;} 100%{}}

@keyframes head_snow_ani{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes head_snow_ani{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sw_ani{
    50% {
        opacity: 0.2;
    }
}
@-webkit-keyframes sw_ani{
    50% {
        opacity: 0.2;
    }
}

@keyframes head_tit_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes head_tit_ani{
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@keyframes icon01_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes icon01_ani{
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes icon01_img_ani{
0%{-webkit-transform:rotate(-3deg);transform:rotate(-3deg);}
100%{-webkit-transform:rotate(3deg);transform:rotate(3deg)}
}
@-webkit-keyframes icon01_img_ani{
0%{-webkit-transform:rotate(-3deg);transform:rotate(-3deg);}
100%{-webkit-transform:rotate(3deg);transform:rotate(3deg)}
}

@keyframes jiaoshui_ani{
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-30deg) translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateX(0px);
  }
}
@-webkit-keyframes jiaoshui_ani{
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-30deg) translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateX(0px);
  }
}
